<style>
    #Footer {
        text-align: center;
        padding: 10px;
        background-color: #0d0d0d;
        width: 100%;
        margin: 0px;
    }
    .FooterLink {
        display: inline-block;
        color: lightgrey;
        background-color: #1a1a1a;
        padding: 2px 4px;
        margin-bottom: 2px;
        border-radius: 3px;
        text-decoration: none;
        transition: 300ms;
    }
    .FooterLink:hover {
        color: whitesmoke;
        background-color: dodgerblue;
    }
    .FooterSocialLink {
        margin-left: 4px;
        vertical-align: middle;
        display: inline-block;
        padding: 4px;
        border-radius: 13px;
        height: 26px;
        width: 26px;
        background-color: #1a1a1a;
        transition: 300ms;
    }
    .FooterSocialLink img {
        display: inline-block;
        height: 18px;
    }
    .FooterSocialLink:hover {
        background-color: dodgerblue;
    }
</style>
<footer id="Footer">
    Тут можно смотреть онлайн лучшие <a class="FooterLink" href="/?type=movie&sort=release">фильмы</a> и
    <a class="FooterLink" href="/?type=series&sort=release">сериалы</a> любого
    <a class="FooterLink" href="/genres">жанра</a> в hd качестве абсолютно бесплатно!
    <br>Мы в соцсетях:
    <a class="FooterSocialLink" href="/"><img src="../../images/social/telegram.png"></a>
    <a class="FooterSocialLink" href="/"><img src="../../images/social/vk.png"></a>
    <a class="FooterSocialLink" href="/"><img src="../../images/social/twitter.png"></a>
    <a class="FooterSocialLink" href="/"><img src="../../images/social/instagram.png"></a>
    <a class="FooterSocialLink" href="/"><img src="../../images/social/youtube.png"></a>
    <a class="FooterSocialLink" href="/"><img src="../../images/social/facebook.png"></a>
    <a class="FooterSocialLink" href="/"><img src="../../images/social/github.png"></a>

    <br>&copy; 2018 Alexander Lukovnikov
</footer>