<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Блокировка пользователя</title>

    <style>
        * {
            box-sizing: border-box;
            padding: 0px;
            margin: 0px;
        }
        body {
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
            font-size: 16px;
            line-height: 20px;
            color: lightgrey;
            /*background-color: #1a1a1a;*/
            transition: 300ms;
        }
        body.Night {
            /*color: lightgrey;*/
            background-color: #1a1a1a;
        }
        body.Day {
            /*color: #1a1a1a;*/
            background-color: lightgrey;
        }
        h2 {
            font-size: 32px;
            line-height: 40px;
            font-weight: 200;
            margin: 10px 10px 10px 0px;
            /*color: whitesmoke;*/
            transition: 300ms;
        }
        body.Night h2 {
            color: whitesmoke;
        }
        body.Day h2 {
            color: #262626;
        }
        #Title {
            width: 730px;
        }
        #Menu {
            right: 10px;
        }
        #Content {
            position: relative;
            width: 1100px;
            margin-right: auto;
            margin-left: auto;
            padding: 0px 0px 0px 10px;
            border-bottom: 1px solid transparent;
        }
        h3 {
            font-size: 20px;
            font-weight: 200;
            margin-bottom: 10px;
            /*color: whitesmoke;*/
            transition: 300ms;
        }
        body.Night h3 {
            color: whitesmoke;
        }
        body.Day h3 {
            color: #262626;
        }
        ::-webkit-scrollbar-button { width: 0px; height: 0px; }
        ::-webkit-scrollbar-track { background-color: transparent; }
        ::-webkit-scrollbar-thumb { border-radius: 5px; background-color: #333333; }
        ::-webkit-resizer { width: 0px; height: 0px; }
        ::-webkit-scrollbar{ width: 10px; height: 10px; }
        ::-webkit-scrollbar-corner { background-color: transparent; }



        #block-user-form {
            width: 550px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            background-color: #262626;
            margin-bottom: 10px;
            padding: 10px 10px 0px 10px;
        }
        #block-user-form input {
            width: 260px;
            height: 29px;
            border-radius: 15px;
            border: none;
            background-color: #333333;
            padding: 0px 10px 0px 10px;
            color: lightgrey;
            font-size: 14px;
        }
        #block-user-form .btn {
            height: 30px;
            border-radius: 15px;
            border: none;
            cursor: pointer;
            transition: 300ms;
            background-color: #333333;
            color: lightgrey;
            padding: 0px 10px;
            font-size: 15px;
        }
        #block-user-form .btn:hover {
            background-color: dodgerblue;
        }
        #getallreviews, #removeallreviews {
            margin-top: 5px;
        }

        div.message {
            min-height: 45px;
            padding: 5px 0px;
        }
        div.message a {
            display: inline-block;
            color: lightgrey;
            background-color: #333333;
            padding: 2px 4px;
            margin-top: 2px;
            border-radius: 5px;
            text-decoration: none;
            transition: 300ms;
        }
        div.message a:hover {
            color: whitesmoke;
            background-color: dodgerblue;
        }


        .Review {
            margin-left: 100px;
            margin-bottom: 10px;
            position: relative;
            text-align: left;
        }
        .Review h3 {
            color: whitesmoke !important;
        }
        .Review .Text {
            padding: 5px 10px;
            margin-top: -5px;
            background-color: #333333;
            min-height: 63px;
            white-space: pre-line;
            border-radius: 15px;
        }
        .Review .Date {
            font-size: 13px;
            font-weight: normal;
        }
        .Review .ProfilePhoto {
            display: block;
            position: absolute;
            left: -100px;
            top: 5px;
            height: 90px;
            width: 90px;
            border-radius: 45px;
            overflow: hidden;
            background-color: #333333;
            padding: 0px;
        }
        .Review .ProfilePhoto img {
            height: 100%;
            width: 100%;
        }
        .Review .Delete {
            position: absolute;
            z-index: 1;
            right: 0px;
            top: 0px;
            height: 26px;
            width: 26px;
            background-color: #333333;
            border-radius: 15px;
            padding: 5px;
            cursor: pointer;
            transition: 300ms;
        }
        .Review .Delete img {
            height: 100%;
            width: 100%;
        }
        .Review .Delete:hover {
            background-color: dodgerblue;
        }


    </style>
</head>
<body class="{{#if night}}Night{{else}}Day{{/if}}">
<div id="Content">
    <div id="Title"><h2>Блокировка пользователя</h2></div>
    {{> menu this}}

    <form id="block-user-form" name="block-user-form">
        <input name="username" placeholder="username" type="text">
        <button class="btn" type="submit">Заблокировать</button>
        <button class="btn" type="reset">Разблокировать</button>
        <div></div>
        <button id="getallreviews" class="btn">Загрузить все обзоры</button>
        <button id="removeallreviews" class="btn">Удалить все обзоры</button>
        <div class="message" id="m1"></div>
    </form>

</div>

{{> footer}}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let height = Math.max(
                document.body.scrollHeight, document.documentElement.scrollHeight,
                document.body.offsetHeight, document.documentElement.offsetHeight,
                document.body.clientHeight, document.documentElement.clientHeight
        );
        let footer = $("#Footer").css('height').replace("px", "");
        $("#Content").css("min-height", height - footer - 10 + "px");
    });

    $(document.forms['block-user-form']).on('submit', function(e) {
        const username = e.target.username.value;
        let message = $("#m1");
        if (!username) {
            message.text("Необходимо заполнить имя пользователя!");
            return false;
        }
        $.ajax({
            type: "POST",
            url: "/blockuser",
            data: JSON.stringify({username}),
            dataType: "json",
            contentType: "application/json",
            success: function(data, statusCode) {
                message.html(`Пользователь <a href="/users/${data.username}">${data.username}</a> заблокирован!`);
            },
            error: function(data, statusCode) {
                message.text("Произошла ошибка: " + data.responseJSON.message);
            }
        });
        return false;
    });

    $(document.forms['block-user-form']).on('reset', function(e) {
        const username = e.target.username.value;
        let message = $("#m1");
        if (!username) {
            message.text("Необходимо заполнить имя пользователя!");
            return false;
        }
        $.ajax({
            type: "POST",
            url: "/unblockuser",
            data: JSON.stringify({username}),
            dataType: "json",
            contentType: "application/json",
            success: function(data, statusCode) {
                message.html(`Пользователь <a href="/users/${data.username}">${data.username}</a> разблокирован!`);
            },
            error: function(data, statusCode) {
                message.text("Произошла ошибка: " + data.responseJSON.message);
            }
        });
        return false;
    });

    $("#getallreviews").click(function(e) {
        const username = e.target.form.username.value;
        let message = $("#m1");
        if (!username) {
            message.text("Необходимо заполнить имя пользователя!");
            return false;
        }
        $.ajax({
            type: "POST",
            url: "/getuserreviews",
            data: JSON.stringify({username}),
            dataType: "json",
            contentType: "application/json",
            success: function(data, statusCode) {
                let htmlcode = "";
                for (let i = 0; i < data.reviews.length; i++) {
                    let rs = data.reviews[i];
                    htmlcode += `<div class="Review"><a class="ProfilePhoto" href="/users/${rs.username}"><img src="../images/users/${rs.username}.png" onerror="this.src='../images/default-user.png'; this.style.padding='20px'"></a>
                    <h3><span>${rs.username}</span><span class="Date"><span> про </span><a class="Link" href="/movies/${rs.url}">${rs.title}</a><span> ${rs.date}</span></span></h3>
                    <div class="Text">${rs.text}</div><a class="Delete" onclick="clicked(this)"><img src="../images/close.png"></a>
                </div>`;
                }
                if (data.reviews.length) message.html(htmlcode);
                else message.text("Обзоры не найдены");
                console.log(data.reviews);
            },
            error: function(data, statusCode) {
                message.text("Произошла ошибка: " + data.responseJSON.message);
            }
        });
        return false;
    });

    $("#removeallreviews").click(function(e) {
        const username = e.target.form.username.value;
        let message = $("#m1");
        if (!username) {
            message.text("Необходимо заполнить имя пользователя!");
            return false;
        }
        $.ajax({
            type: "POST",
            url: "/removeuserreviews",
            data: JSON.stringify({username}),
            dataType: "json",
            contentType: "application/json",
            success: function(data, statusCode) {
                message.html(`Все обзоры пользователя <a href="/users/${data.username}">${data.username}</a> удалены!`);
            },
            error: function(data, statusCode) {
                message.text("Произошла ошибка: " + data.responseJSON.message);
            }
        });
        return false;
    });

    function clicked(e) {
        let username = $(e.parentElement.children[1].children[0]).text();
        let url = $(e.parentElement.children[1].children[1].children[1]).attr("href");
        url = url.slice(url.lastIndexOf('/') + 1);
        $.ajax({
            type: "POST",
            url: "/removeuserreview",
            data: JSON.stringify({username, url}),
            dataType: "json",
            contentType: "application/json",
            success: function(data, statusCode) {
                $(e.parentElement).hide();
            }
        });
    };

</script>
</body>
</html>